body {
  font-family: Verdana, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}
h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
.link{
  color: aquamarine;
  font-size: 16px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
.tag {
  color: gray;
  font-size: 21px;
}
.footer {
  font-size: 21px;
  color: gray;
  text-align: right;
}
video {
  object-fit: contain;
}
